<ion-header>
  <ion-toolbar>
    <ion-title>
      Team Middle Tablers
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item></ion-item>
    <ion-item>
      <ion-avatar>
        <img src="https://scontent.fcpt7-1.fna.fbcdn.net/v/t1.0-9/53478404_2037814639605825_3651516920873615360_o.jpg?_nc_cat=111&_nc_oc=AQm4T3Ny_WWGHJGIAN9it_zBr1Tv8elOxA3LUcLVHLmIUGbcOJK7w6xKVKFOWbku9P8&_nc_ht=scontent.fcpt7-1.fna&oh=b5689de0bca030a669e4a8304c53c2d6&oe=5D796EC7">
      </ion-avatar>
      <ion-chip>
        <ion-label>
          Shan Jiang
        </ion-label>
      </ion-chip>
    </ion-item>
    <ion-item></ion-item>
    <ion-item>
      <ion-chip>
        <ion-avatar>
          <img src="https://scontent.fcpt7-1.fna.fbcdn.net/v/t1.0-9/59918824_2247633165315363_760617791630868480_n.jpg?_nc_cat=101&_nc_oc=AQlSB6Xrg7MFGSS9ZNFxwAFu8zrW9opf9JxQ2qoxofrdfRCXpnyUGqYzhhh4V0AbiIs&_nc_ht=scontent.fcpt7-1.fna&oh=a1053ed8d4316783225043652f2932bc&oe=5DBB2351">
        </ion-avatar>
        <ion-label>Eli</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item></ion-item>
  </ion-list>
</ion-content>
