<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item></ion-item>
    <ion-item>
      <ion-avatar>
        <img src="https://scontent.fcpt7-1.fna.fbcdn.net/v/t1.0-9/53478404_2037814639605825_3651516920873615360_o.jpg?_nc_cat=111&_nc_oc=AQm4T3Ny_WWGHJGIAN9it_zBr1Tv8elOxA3LUcLVHLmIUGbcOJK7w6xKVKFOWbku9P8&_nc_ht=scontent.fcpt7-1.fna&oh=b5689de0bca030a669e4a8304c53c2d6&oe=5D796EC7">
      </ion-avatar>
      Shan Jiang
    </ion-item>
    <ion-item>
      <ion-chip class="ion-margin-start">
        <ion-avatar>
          <img src="https://images.app.goo.gl/A7n6iZ8xmDvunDaN9">
        </ion-avatar>
        <ion-label>Joanna Giang</ion-label>
      </ion-chip>
    </ion-item>

    <ion-item></ion-item>
    <ion-item></ion-item>
  </ion-list>
</ion-content>
